
@model NLayer.BLL.DTO.PhotoDTO

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Upload file</legend>

        <div class="editor-label">Title</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        @*<div class="editor-label">Choose photo</div>*@
        <div class="editor-field">
            <input type="file" name="uploadImage" value="Browse" />
        </div>
        <br />

        <p>
            <input type="submit" value="Upload" />
        </p>
    </fieldset>
}

@if(ViewBag.UploadSuccess == true)
{
    <span>Upload completed successfully</span>
}

<div>
    @Html.ActionLink("Back to list", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}