@using NLayer.BLL.DTO;

@model IEnumerable<AlbumDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
    .stylish-input-group .input-group-addon {
        background: white !important;
    }

    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }

    .stylish-input-group button {
        border: 0;
        background: transparent;
    }
</style>

<div class="container">
    <div class="row">
        @if (!ViewBag.IsAuthenticated)
        {
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h5>Want to upload your own photo and share it, please @Html.ActionLink("Sign in", "Login", "Account")</h5>
            </div>

        }
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
            <h3 style="color:cadetblue">@ViewBag.Title</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            sort by:
            @Html.ActionLink("newest", "Index", new { orderBy = "date" })
            <span> | </span>
            @Html.ActionLink("most popular", "Index", new { orderBy = "popular" })
        </div>

        <div class="col-md-4 col-md-offset-4 col-sm-6">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (AlbumDTO album in Model)
        {
            string albumPhoto = "";
            string idLike = "like" + album.Id;
            string idBtn  = "btn"  + album.Id;

            int amountPhotosInAlbum = album.Photos.Count;
            if (amountPhotosInAlbum > 0)
            {
                albumPhoto = @album.Photos[0].PathToThumbPhoto;
            }
            else
            {
                albumPhoto = "/Content/empty-album.png";
            }

            <div class="col-md-3 col-sm-4 col-xs-12 text-center">
                <a class="fancyimage" rel="group" href=@Url.Action("Photos", "Home", new { albumId = @album.Id}) >
                    <img class="img-responsive img-thumbnail" src=@albumPhoto alt="@album.Name" />
                </a>
                <div>
                    @album.Name
                    <p style="font-size:small">
                        @amountPhotosInAlbum photo  <span style="color:green">likes: <span class="amountOfLike" id="@idLike">@album.amountOfLikes</span></span>  <span id="@idBtn" class="btn btn-info btn-xs btnlike" onclick="putLike(@album.Id)">like</span> 
                    </p>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">

    function putLike(id) {

        $.ajax({
            url: "@Url.Action("PutAlbumLike")",
            type: "POST",
            data: "id=" + id,
            success: function (response) {
                var idLike = "#like" + id;
                $(idLike).text(response);
            },
        });
    }

</script>

