@model NLayer.BLL.DTO.ProductDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProviderID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProviderID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProductCategoryID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductCategoryID)
    </div>
</fieldset>

